/* .tableheader {
  text-align: center;
}

.actioncell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  column-gap: 0.1rem;
}
.tablecell {
  padding-left: 1rem;

} */



.container {
  padding: 3rem;
  padding-left: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
